<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>New Tab</title>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/ui-bootstrap-custom-2.1.3-csp.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/angular-animate.min.js"></script>
    <script src="scripts/ui-bootstrap-custom-2.1.3.min.js"></script>
    <script src="scripts/ui-bootstrap-custom-tpls-2.1.3.min.js"></script>
    <script src="scripts/app-index.js"></script>
  </head>
  <body ng-controller="MainCtrl">
    <div class="wrap">
      <div
        ng-repeat="group in groups track by $index"
        ng-init="groupIndex = $index">
        <div class="item">
          <ul>
            <p>
              {{group.title}}
              <a href ng-click="openGroup(groupIndex)" class="edit">Edit</a>
            </p>
            <li ng-repeat="link in group.links track by $index">
              <div>
                  <a
                    class="icon"
                    ng-if="link.favicon"
                    ng-href="{{link.url}}"
                    ng-style="{'background-image':'url('+link.favicon+')'}"></a>

                  <a
                    class="icon"
                    ng-if="!link.favicon"
                    ng-href="{{link.url}}"
                    ng-style="{'background-image':'url(images/star.svg)'}"></a>
              </div>
              <div class="link">
                <a ng-href="{{link.url}}" title="{{link.title}}"><span>{{link.title}}</span></a>
              </div>
              <div>
                  <a href ng-click="open($index, groupIndex)" class="edit">Edit</a>
              </div>

            </li>
          </ul>
        </div>
      </div>
    </div>

    <script type="text/ng-template" id="editLinkModalContent.html">
      <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Edit link</h3>
      </div>

      <form>
        <div class="modal-body" id="modal-body">
          <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" ng-model="link.title"
              class="form-control" placeholder="Link title" id="title">
          </div>

          <div class="form-group">
            <label for="url">URL:</label>
            <input type="text" ng-model="link.url"
              class="form-control" placeholder="URL" id="url">
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger pull-left"
            ng-click="delete()">Delete</button>

          <button type="submit" class="btn btn-success"
            ng-click="save()">Save</button>

          <button type="button" class="btn btn-default"
            ng-click="cancel()">Cancel</button>
        </div>
      </form>
    </script>

    <script type="text/ng-template" id="editGroupModalContent.html">
        <div class="modal-header">
          <h3 class="modal-title" id="modal-title">Edit list</h3>
        </div>

        <form>
          <div class="modal-body" id="modal-body">
            <div class="form-group">
              <label for="grouptitle">Title:</label>
              <input type="text" ng-model="group.title"
                class="form-control" placeholder="Group title" id="grouptitle">
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-danger pull-left"
              ng-click="delete()">Delete</button>

            <button type="submit" class="btn btn-success"
              ng-click="save()">Save</button>

            <button type="button" class="btn btn-default"
              ng-click="cancel()">Cancel</button>
          </div>
        </form>
      </script>
  </body>
</html>
