<!DOCTYPE html>
<html lang="en" ng-app="popup">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles/normalize.css">
  <link rel="stylesheet" href="styles/popup.css">
  <script src="scripts/angular.min.js"></script>
  <script src="scripts/app-popup.js"></script>
</head>

<body ng-controller="popupCtrl">
  <h1>Add page to list:</h1>
  <ul>
    <li ng-repeat="group in groups track by $index">
      <a href ng-click="saveToGroup($index)">{{group.title}}</a>
    </li>
  </ul>

  <hr>

  <h2>Create new list:</h2>

  <form ng-submit="addGroup()">
    <input type="text"
      ng-model="groupTitle"
      placeholder=""
      required>

    <button type="submit">save</button>
  </form>

  <div ng-show="saved" class="alert alert-success" role="alert">
    Saved!
  </div>
  <div ng-show="error" class="alert alert-danger" role="alert">
    Error: {{error.message}}
  </div>
</body>
</html>
